<button {{action "toggleModal"}} class="btn btn-minor trigger">
  {{#if buttonIcon}}{{fa-icon buttonIcon}}{{/if}}<span>Kifizetve</span>
</button>
{{#if isShowingModal}}
  {{#modal-dialog
    close='toggleModal'
    containerClassNames="confirmation-modal animated fadeIn duration02"
    translucentOverlay=true
  }}

    <div class="modal-header">
      <h1>{{fa-icon titleIcon}} {{titleText}}</h1>
      <div class="header-buttons">
        <button {{action 'toggleModal'}} class="close">
          {{fa-icon "times"}}
        </button>
      </div>
    </div>

    {{#if bodyText}}
      <div class="modal-body">
        {{bodyText}}
      </div>
    {{/if}}

    <div class="modal-footer">
      <button {{action 'decline'}} class="btn btn-bare">{{declineText}}</button>
      <button {{action 'confirm'}} class="btn btn-highlighted">{{confirmText}}</button>
    </div>

  {{/modal-dialog}}
{{/if}}
