<div class="row">
  <div class="label">
    {{label}}
  </div>
  <div class="icon">
  </div>
  <div class="field">
    {{#if hasBlock}}
      {{yield}}
    {{else}}
      {{#if isTextarea}}
        {{textarea
          value=value
          disabled=disabled
        }}
      {{else if isDatetime}}
        {{datetime-picker
          value=value
          disabled=disabled
          format=format
          maxDateToday=maxDateToday
        }}
      {{else if isCheckbox}}
        {{checkbox-toggle
          value=value
          disabled=disabled
        }}
      {{else}}
        {{input
          type="text"
          class="w-300"
          disabled=disabled
          value=value
        }}
      {{/if}}
    {{/if}}
  </div>
  {{#if tooltipText}}
    <div class="tooltip">
      {{fa-icon "fa-question"}}
      <div class="tooltip-popover">
        {{tooltipText}}
      </div>
    </div>
  {{/if}}
</div>