{{#each messages as |message|}}
  <div id="{{message.uuid}}" class="message {{message.severityClass}} animated fadeInRight duration03">
    <div class="icon">{{fa-icon message.iconName}}</div>
    <div class="msg">{{message.description}}</div>
    <div {{action "close" message}} class="close">
      {{fa-icon "close"}}
    </div>
  </div>
{{/each}}
{{#if moreThanOne}}
  <button class="btn btn-bare btn-icon-only clear-button animated slideInRight " {{action 'clearMessages'}} title="Összes üzenet eltávolítása">
    {{fa-icon "minus"}}
    {{fa-icon "minus"}}
    {{fa-icon "minus"}}
  </button>
{{/if}}