<div class="set-info">
  <div class="image">

  </div>
  <div class="description">
    {{model.setId}}
  </div>
  <div class="buttons">
    <button {{action "save"}} class="btn btn-major inline-block">
      {{fa-icon 'save'}} Save
    </button>
    <button {{action "setViewMode" "normal"}} class="btn inline-block {{if (is-equal viewMode 'normal') 'btn-minor' 'btn-nice'}}">
      Normal view
    </button>
    <button {{action "setViewMode" "compact"}} class="btn inline-block {{if (is-equal viewMode 'compact') 'btn-minor' 'btn-nice'}}">
      Compact view
    </button>
    <button {{action "toggleMissing"}} class="btn btn-highlighted inline-block">
      {{#if missingOnly}}
        Show all
      {{else}}
        Show only missing
      {{/if}}
    </button>


  </div>
</div>
{{#if (is-equal viewMode 'normal')}}
  {{#each parts as |part|}}
    <div class="part {{if part.hasNoImage 'has-no-image'}}">
      <div class="description" title="{{part.partId}} - {{part.partData.part_name}}">
        {{part.partId}} - {{part.partData.part_name}}
      </div>
      <img src="{{part.partData.part_img_url}}">
      <div class="quantity">
        {{input
          type="text"
          class="quantity-input"
          value=part.quantityHave
        }}
        /
        {{part.partData.qty}}
        <button class="btn btn-nice max" {{action "changePartQuantity" part part.partData.qty}}>
          Set max
        </button>
        <button class="btn btn-nice minus" {{action "changePartQuantityDelta" part -1}}>
          -
        </button>
        <button class="btn btn-nice plus" {{action "changePartQuantityDelta" part 1}}>
          +
        </button>
      </div>
    </div>
  {{/each}}
{{else}}
  {{#each parts as |part|}}
    <div class="part-missing" title="{{part.partId}} - {{part.partData.part_name}}">
      <img src="{{part.partData.part_img_url}}">
      <span>{{part.needed}}/{{part.partData.qty}}</span>
      <button class="btn btn-nice minus" {{action "changePartQuantityDelta" part -1}}>-</button>
      <button class="btn btn-nice plus" {{action "changePartQuantityDelta" part 1}}>+</button>
    </div>
  {{/each}}
{{/if}}